# See the readme as to why some stuff is checked in.

# Eclipse ignores
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.launch
build/**

# Gradle
.gradle/

# Java built files
*.class
*.jar
*.war
*.ear

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/bin
