<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body margin="0" style="color: #333333">

<table cellpadding="0" cellspacing="0" style="width: 600px; padding: 15px; font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif">
    <tr><td colspan="2" style="font-size: 10px; height: 10px">&nbsp;</td></tr>
    <tr>
        <td colspan="2" style="font-size: 22px; font-weight: bold">MFLG Admin Password Reset</td>
    </tr>
    <tr><td colspan="2" style="font-size: 20px; height: 20px">&nbsp;</td></tr>
    <tr>
        <td colspan="2">Dear Administrator,</td>
    </tr>
    <tr><td colspan="2" style="font-size: 20px; height: 20px">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        You have requested a password reset. Your temporary password is <b>:Password</b>.
        </td>
    </tr>
    <tr><td colspan="2" style="font-size: 20px; height: 20px">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        Please login with this temporary password to access your account and services. 
        Once you have done so, please change your password immediately.
        </td>
    </tr>
    <tr><td colspan="2" style="font-size: 20px; height: 20px">&nbsp;</td></tr>
    <tr>
        <td colspan="2" style="border-top: 1px solid #555555; font-size: 14px;">
        This is a system-generated email.
        </td>
    </tr>
    <tr><td colspan="2" style="font-size: 30px; height: 30px">&nbsp;</td></tr>
</table>

</body>
</html>