<?xml version="1.0" encoding="UTF-8"?>
<web-app id="progenitor-java" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- General Details -->

    <display-name>progenitor-java</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Filters -->
    
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    
    <!-- Filter Mappings -->
    
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Servlets -->
    
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>com.enovax.tools.content.FileServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>~/dev/temp/temp</param-value>
        </init-param>
    </servlet>
    
    <!-- Servlet Mappings -->
    
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    
</web-app>